{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"/>
{% endblock %}

{% block main %}
    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>

    </div> <!-- /container -->
{% endblock %}
